@import "tailwindcss";

:root {
  /* Colores */
  --background: #050816;
  --surface: #0f172a;
  --surface-light: #1e293b;

  --primary: #3b82f6;
  --secondary: #06b6d4;
  --accent: #8b5cf6;

  --text: #ffffff;
  --text-muted: #94a3b8;

  /* Glass */
  --glass: rgba(255, 255, 255, 0.08);
  --glass-border: rgba(255, 255, 255, 0.12);

  /* Bordes */
  --radius: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:
    radial-gradient(
      circle at center,
      #101a38 0%,
      #081020 35%,
      #050816 65%,
      #020308 100%
    );
  color:var(--text);
  font-family:var(--font-geist-sans);
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

::selection{
  background:var(--primary);
  color:white;
}